/** @format */

.board {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 2px;
  width: 300px; /* Fixed width */
  height: 300px; /* Fixed height */
  border: 2px solid #000;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.board-row {
  display: contents;
}

.board-cell {
  width: 28px; /* Each cell is 28px wide */
  height: 28px; /* Each cell is 28px tall */
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.board-cell.occupied {
  background-color: #000;
}
